#view-source-btn{
  position: fixed;
  bottom: 10px;
  left: 10px;
}

#robots{
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.robot{
    max-width: 100px;
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-name: fade-in-up;
    animation-timing-function: ease-out;
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(10px)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}
